Roll No: CB.EN.U4CSE20271

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

#Q1

In [ ]:
lst=['A','S','H','I','S','H']
s=pd.Series(lst)
print(s)

0    A
1    S
2    H
3    I
4    S
5    H
dtype: object

#Q2

In [ ]:
df = pd.Series(['Ashish','Jaswanth','Abdul'])
df=s.to_frame().reset_index()
df

   index  0
0      0  A
1      1  S
2      2  H
3      3  I
4      4  S
5      5  H

#Q3

In [ ]:
a=pd.Series(["Ford","Chevrolet","Honda"])
b=pd.Series(["Audi","Merceedes","Toyota"])
c=pd.Series(["Tesla","Tata","Jaguar"])
df=pd.DataFrame(a.append(b.append(c,ignore_index=True)))
df

           0
0       Ford
1  Chevrolet
2      Honda
0       Audi
1  Merceedes
2     Toyota
3      Tesla
4       Tata
5     Jaguar

#Q4

In [ ]:
result=s.rename('Name')
print(result)

0    A
1    S
2    H
3    I
4    S
5    H
Name: Name, dtype: object

#Q5

In [ ]:
s1=pd.Series(["Ford","Chevrolet","Honda","Audi","Merceedes","Toyota"])
s2=pd.Series(["Audi","Merceedes","Toyota","Buggati","Hyundai","Nissan"])
print("Items present in Series1 not present in Series2 is: ")
diff=s1[~s1.isin(s2)]
print(diff)

Items present in Series1 not present in Series2 is:
0         Ford
1    Chevrolet
2        Honda
dtype: object

#Q6

In [ ]:
union=pd.Series(np.union1d(s1,s2))
intersect=pd.Series(np.intersect1d(s1,s2))
nc=union[~union.isin(intersect)]
print(nc)

1    Chevrolet
2         Ford
3        Honda
dtype: object

#Q7

In [ ]:
num_state=np.random.RandomState(100)
num_series=pd.Series(num_state.normal(10,4,20))
print("Original Series: ")
print(num_series)
result=np.percentile(num_series,q=[0,25,50,75,100])
print("\n The minimum, 25th percentile, median, 75th, and max of a numeric series are")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

 The minimum, 25th percentile, median, 75th, and max of a numeric series are
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

#Q8

In [ ]:
s3=pd.Series(data=[1,1,2,2,2,3,3,4,5,6,7,8,9,2,3,5,5,10,12,11])
print(s3.value_counts())

2     4
3     3
5     3
1     2
4     1
6     1
7     1
8     1
9     1
10    1
12    1
11    1
dtype: int64

#Q9

In [ ]:
print("Top 2 freq: ",s3.value_counts())
s3[~s3.isin(s3.value_counts().index[:2])]='Other'
print(s3)

Top 2 freq:  Other    16
2         4
dtype: int64
0     Other
1     Other
2         2
3         2
4         2
5     Other
6     Other
7     Other
8     Other
9     Other
10    Other
11    Other
12    Other
13        2
14    Other
15    Other
16    Other
17    Other
18    Other
19    Other
dtype: object

#Q10 (Did not understand)

In [ ]:
s4=pd.Series(np.random.random(20))

#Q11

In [ ]:
s5 = pd.Series(np.random.randint(1, 10, 35))
df=pd.DataFrame(s5.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  6  4  9  5  8
1  5  7  5  8  6
2  7  9  2  8  6
3  3  2  3  5  5
4  3  9  3  9  4
5  1  5  1  1  2
6  7  1  4  7  8

#Q12

In [ ]:
num_series=pd.Series(np.random.randint(1,10,9))
print(s6)
np.where(s6%3==0)

0    4
1    3
2    2
3    8
4    9
5    4
6    8
dtype: int64

(array([1, 4]),)

#Q13

In [ ]:
s7 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
s7.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

#Q14

In [ ]:
s8 = pd.Series(range(5))
s9 = pd.Series(list('abcde'))
s8.append(s9)
df=pd.concat([s8,s9],axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#Q15

In [ ]:
s10 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
s11 = pd.Series([1, 3, 10, 13])
[pd.Index(s10).get_loc(i) for i in s11]

[5, 4, 0, 8]

#Q16

In [ ]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.31783372203935395

#Q17

In [ ]:
s12 = pd.Series(['how', 'to', 'kill', 'yourself?'])
s12.map(lambda x: x[0].upper()+ x[1:]) 
#pd.Series([i.title() for i in s12])

0          How
1           To
2         Kill
3    Yourself?
dtype: object

#Q18

In [ ]:
s12.map(lambda x: len(x))

0    3
1    2
2    4
3    9
dtype: int64

#Q19

In [ ]:
s13 = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(s13.diff().tolist())
print(s13.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

#Q20

In [ ]:
s14= pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(s14)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

#Q21

In [ ]:
s15 = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
from dateutil.parser import parse
s15_ts= s15.map(lambda x: parse(x))
print("Date: ", s15_ts.dt.day.tolist())
print("Week Number: ", s15_ts.dt.weekofyear.tolist())
print("Day number of Year: ", s15_ts.dt.dayofyear.tolist())
print("Day of week ", s15_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week Number:  [53, 5, 9, 14, 19, 23]
Day number of Year:  [1, 33, 63, 94, 125, 157]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

AttributeError: ignored

In [ ]:
s15 = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
s15.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [ ]:
s16 = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
from collections import Counter
mask = s16.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
s16[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [ ]:
#Q24
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [ ]:
#Q25
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
weights.groupby(fruit).mean()

apple     5.5
banana    6.5
carrot    4.5
dtype: float64

In [ ]:
#Q26
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
sum((p - q)**2)**.5

18.16590212458495

In [ ]:
#Q27
s17 = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
dd = np.diff(np.sign(np.diff(s17)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

In [ ]:
#Q28
s18 = 'dbc deb abed gade'
s18 = pd.Series(list('dbc deb abed gade'))
freq = s18.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(s18.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'dbcgdebgabedggade'

In [ ]:
#Q29
s20 = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
s20

2000-01-01    9
2000-01-08    7
2000-01-15    9
2000-01-22    1
2000-01-29    6
2000-02-05    6
2000-02-12    7
2000-02-19    5
2000-02-26    6
2000-03-04    4
Freq: W-SAT, dtype: int64

In [ ]:
#Q30
s19 = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
s19.resample('D').ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64